<% content_for(:title, "#{@post.title} | Link Dumpz") %>

<h1> <%= link_to @post.title, @post.link %></h1>

<p> <%= @post.content %> </p>
<%= render('layouts/errors', object: @comment) %>
  <%= render('form') %>

  <%= flash[:notice] %>
  <hr>
  <h4> Comments: </h4>
  <ul>

  <% @post.comments.each do |comment| %>
    <li><%= comment.content %> | <span id="form-show"><small>comment</small></span></li>
    <div id="form-hidden">
      <%= form_for(@comment) do |form| %>
      <%= form.hidden_field :commentable_id, :value => comment.id %>
      <%= form.hidden_field :commentable_type, :value => comment.class %>
      <%= form.text_area :content %>
      <%= form.submit "comment" %>
    </div>
      <ul><% comment.comments.each do |comment| %>
        <li><%= comment.content %></li>
      <% end %>
      </ul>
    <% end %>


  <% end %>
  </ul>

<hr>
<%= link_to "Home", posts_path, :class=> "btn btn-xs btn-primary" %>
<%= link_to "Edit Post", edit_post_path(@post), :class=> "btn btn-xs btn-warning" %>
<%= link_to "Delete", post_path(@post),
                      :data => {confirm: "Are You Sure?"},
                      :method => "delete",
                      :class => "btn btn-xs btn-danger" %>
